h1{
   text-align: center;
}

   
}
h1 {
  font-family: "OCR A Extended", "OCR A Std", monospace;
}
h2 {
  font-family: "OCR A Extended", "OCR A Std", monospace;
}
h3 {
  font-family: "OCR A Extended", "OCR A Std", monospace;
}
<html>
<head>
<style>
body {
  body{
   background-image: url(https://i.imgur.com/qX0uwBK.png);
   background-repeat: no-repeat;
   background-size: cover;
   
}
</style>
</head>
<body>

</body>
</html>
