h1{
   text-align: center;
}

   
}
h1 {
  font-family: "OCR A Extended", "OCR A Std", monospace;
}
h2 {
  font-family: "OCR A Extended", "OCR A Std", monospace;
}
h3 {
  font-family: "OCR A Extended", "OCR A Std", monospace;
}
