h1{
   text-align: center;
}

   
}
h1 {
  font-family: "OCR A Extended", "OCR A Std", monospace;
}
h2 {
  font-family: "OCR A Extended", "OCR A Std", monospace;
}
h3 {
  font-family: "OCR A Extended", "OCR A Std", monospace;
}
body {
  background-image: url(https://static.wikia.nocookie.net/fnafapedia/images/3/31/OfficeClean.png/revision/latest/scale-to-width-down/1200?cb=20151213220428); 
  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  background-color: #1a1a1a; 
  
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
